.menu-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 500px;
}

.nav > li.active > a {
    color: #122b40;
    text-decoration: underline;
}

.navbar-right {
    margin-right: 0;
}

.news_desc {
    width: 100%;
    margin-top: 50px;
}

.news_desc h3 {
    color: #337ab7;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'ambleregular';
}

.news_desc h4 span a {
    text-decoration: underline;
}

.news_desc h4 span a:hover {
    color: #337ab7;
    text-decoration: none;
}

.news_desc h4, .news_desc h4 a {
    font-size: 0.95em;
    color: #303030;;
    padding-bottom: 5px;
}

.news_desc p {
    font-size: 0.85em;
    padding: 5px 0;
    color: #747474;
    line-height: 1.8em;
}

.news_desc p a {
    font-size: 1em;
    color: #337ab7;
}

.pagination-custom {
    text-align: center;
    margin-top: 20px;
}

.foot {
    text-align: center;
}

.comments h3 {
    text-decoration: #311fb8;
}

.comments_desc {
    width: 100%;
    padding-left: 20px;
}

.comments_desc h5 {
    color: #337ab7;
    margin-bottom: 0.3em;
    font-family: 'ambleregular';
}

.comments_desc p {
    font-size: 0.85em;
    padding: 5px 0;
    color: #747474;
    line-height: 1.8em;
}

.form-inline {
    margin: 30px;
}

.form-control {
    width: 250px;
}

#form-news {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag-action-button {

}